body {
    margin: 0;
}

.header {
    font-family: Arial;
    padding: 24px;
    padding-left: 200px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo {
    font-weight: 800px;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.hero {
    padding: 24px;
    padding-left: 200px;
    padding-right: 120px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: Arial;
}

.hero-main {
    font-size: 36px;
    font-weight: 800px;
    color: #F9FAF8;
    font-family: Arial;
}

