body {
    margin: 0;
}

.header {
    font-family: 'Roboto', sans-serif;
    padding: 24px;
    padding-left: 120px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 12px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    padding-left: 100px;
    padding-right: 200px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
}

.hero-main {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.left-hero {
    padding: 24px;
    display: block;
    box-sizing: border-box;
}


.button {
    background-color: #3b82f6;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: gray;
    color: #F9FAF8;
    opacity: 0.7;
    padding: 10px;
    padding-left: 120px;
    padding-right: 120px;
}

.information{
    padding: 60px;
    padding-top: 20px;
}

.info-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
}

figcaption {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
}

img {
    height: 160px;
    width: 160px;
    border: 5px solid #3b82f6;
    border-radius: 20px;
    gap: 16px;
    padding: 10px;
    margin: 10px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.quote {
    padding: 50px;
    color: #1F2937;
    background-color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
}

.quoted {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

.quoter {
    text-align: right;
    font-size: 24px;
    font-weight: 800;
}

.container {
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Roboto', sans-serif;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    background-color: #3b82f6; 
    color: #E5E7EB;   
    padding: 36px;
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 10px; 
}

.cta {
    display: block;
    flex-wrap: wrap;

}

.button-2 {
    background-color: #3b82f6;
    border-style: solid;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-color: white; 
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 36px;
}

@media screen and (max-width: 950px) {
    .hero {
       display: block;
       padding-left: 10%;
       padding-right: 10%;
    }

    .header {
        width: auto;
        padding-left: 10%;
        padding-right: 10%;
     }

     .information {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
     }

     .quote {
        padding-left: 10%;
        padding-right: 10%;
     }
 }
 
 @media screen and (max-width: 600px) {
    .hero {
       padding-left: 0;
       padding-right: 0;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
     }

     .information {
        padding-left: 0;
        padding-right: 0;
     }

     .quote {
        padding-left: 0;
        padding-right: 0;
     }
 }

 @media screen and (max-width: 600px) {
     .image {
        margin: 10px;
        padding-top: 40%;
        padding-bottom: 40%;
     }

     .boxes {
        display: block;
     }
 }